/******************GENERAL****************/
body {
	font-family:corbel, Arial, sans-serif;
	margin: 0;
}


a{
	color: yellowgreen;
	text-decoration: none;
	text-align: center;
}

/***HEADER***/
#header {
background-color: lightgreen;
}
h1{
	font-size: 36px;
	font-style: italic;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 0px 0px 0px;
	color: black;
}
h2{
	font-style: italic;
	text-align: center;
	margin: 0px;
	color: black;
}
#nav {
	background-color: green;
	text-align: center;
	list-style-type: none;
}

#nav li{
	display: inline;
	padding: 6px 8px 6px 8px;
}
#nav li a{
	color: white;
}
/***CONTENT***/
 #content {
width: 600px;
margin: 30px auto;
}
h3{
	margin-left: 15px;
}
p{
	margin-left: 15px;
}
#content h4{
	border-bottom: black solid 3px;
}